/*  RESET   */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body
{
    padding: 10px 15px;
}


/*  STYLES  */

.wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
        flex-direction: column;
        align-items: center;
}

.header
{
    width: 100%;
    height: 50px;
    background-color: #c4c4c4;
    display: flex;

}

.header > ul
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.hero
{
    height: 400px;
    background-color: #727272;
}

.about {
    color: #52bab3;
    background-color: #626262;
}


/*  OVERRIDES   */
.centered
{
    margin: 0 auto;
    width: 80%;
}