/*  RESET   */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


/*  STYLES  */



/*  OVERRIDES   */
.centered
{
    margin: 0 auto;
    width: 80%;
}