.maurice-card {
    background-color: $medium-dark;
    height: 45vh;

    .card {
        background-color: inherit;
    }
}

.marcus-card {
    background-color: $medium-light;
    height: 45vh;

    .card {
        background-color: inherit;
    }
}