.contact {
    background-color: $light;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    .title {
        background-color: $bg-white;
    }

    .form-group ::placeholder {
        color: rgb(194, 193, 193);
    }
}