//  VARIALBES

$dark: #2c2c54; // p100-color
$medium-dark: #40407a; // p75-color
$medium-light: #474787; // p50-color
$light: #706fd3; // p25-color
$bg-color: #f5f5f5; // bg-color
$bg-white: #fff;

$mobile: (max-width: 420px);


section .container>h3 {
    padding: 15px 0;
    font-size: 1.5rem;
    color: $medium-dark;
}